<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net46" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net46" requireReinstallation="true" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net46" />
  <package id="NuGet.Common" version="4.9.3" targetFramework="net47" />
  <package id="NuGet.Configuration" version="4.9.3" targetFramework="net47" />
  <package id="NuGet.Frameworks" version="4.9.3" targetFramework="net47" />
  <package id="NuGet.Packaging" version="4.9.3" targetFramework="net47" />
  <package id="NuGet.Packaging.Core" version="4.9.3" targetFramework="net47" />
  <package id="NuGet.Protocol" version="4.9.3" targetFramework="net47" />
  <package id="NuGet.Versioning" version="4.9.3" targetFramework="net47" />
  <package id="Toe.ContentPipeline" version="0.3.0.6" targetFramework="net47" />
  <package id="Toe.ContentPipeline.Bsp" version="0.3.0.6" targetFramework="net47" />
  <package id="Toe.ContentPipeline.Tokenizer" version="0.3.0.6" targetFramework="net47" />
  <package id="Toe.ContentPipeline.Urho3d" version="0.3.0.6" targetFramework="net47" />
  <package id="Toe.ContentPipeline.Vox" version="0.3.0.6" targetFramework="net47" />
  <package id="Toe.Math" version="1.2.6" targetFramework="net47" />
  <package id="UrhoSharp" version="1.9.67" targetFramework="net46" />
  <package id="UrhoSharp.Wpf" version="1.9.67" targetFramework="net46" />
</packages>