<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net46" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net46" requireReinstallation="true" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net46" />
  <package id="UrhoSharp" version="1.9.67" targetFramework="net46" />
  <package id="UrhoSharp.Wpf" version="1.9.67" targetFramework="net46" />
</packages>